<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlaces</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <a href="/index.html">devolverse</a>
    <h2>7 recursos clave</h2>
    <p>
        Los recursos clave de una empresa son los activos fundamentales que se requieren para operar y ofrecer su
        propuesta de valor. Estos recursos pueden incluir activos fisicos, como instalaciones, equipos y materias
        primas, asi como activos intangibles, como conocimientos especializados, propiedad intelectual, relaciones con
        los clientes y la marca
    </p>
    <img src="/assets/imagen/recusos claves.jpg" alt="recursos clave">
</body>

</html>