<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlaces</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <a href="/index.html">devolverse</a>
    <h2>9 estructura de costos</h2>
    <p>
        La estructura de costos de una empresa se refiere a la composición y distribución de los gastos necesarios para
        operar y mantener su actividad. Estos costos pueden incluir componentes como costos fijos (como alquiler,
        salarios, seguros) y costos variables (como materias primas, comisiones, costos de distribución), asi como
        también costos de desarrollo, marketing, investigación, entre otros.
    </p>
    <img src="/assets/imagen/estructura de costos.jpg" alt="estructura de costos">
</body>

</html>