<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlaces</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <a href="/index.html">devolverse</a>
    <h2>2 propuesta de valor</h2>
    <p>
        La propuesta de valor de una empresa es la promesa única y convincente que ofrece a sus clientes, destacando los
        beneficios clave que estos obtendrán al adquirir sus productos o servicios. Este elemento fundamental define lo
        que hace que una empresa sea única y valiosa para sus clientes, diferenciándose de la competencia.
    </p>
    <img src="/assets/imagen/propuesta de valor .jpg" alt="proposicion-valor">
</body>

</html>