<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlaces</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <a href="/index.html">devolverse</a>
    <h2>6 actividades clave</h2>
    <p>
        Las actividades clave de una empresa son las tareas fundamentales que debe realizar de manera efectiva para
        ofrecer su propuesta de valor, operar con éxito y generar valor para sus clientes. Estas actividades pueden
        variar ampliamente según el tipo de negocio, pero suelen incluir aspectos como la producción, la distribución,
        la comercialización, el soporte al cliente, la investigación y desarrollo, entre otros.
    </p>
    <img src="/assets/imagen/actividades claves.jpg" alt="actividades claves">
</body>

</html>