<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlaces</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <a href="/index.html">devolverse</a>
    <h2>3 canales</h2>
    <p>
        Los canales de distribución son los medios a través de los cuales una empresa hace llegar sus productos o
        servicios a sus clientes. Estos canales pueden incluir tiendas fisicas, comercio electrónico, ventas directas,
        distribuidores, mayoristas, agentes, entre otros
    </p>
    <img src="/assets/imagen/canales.jpg" alt="canales">
</body>

</html>