<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlaces</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <a href="/index.html">devolverse</a>
    <h2>1 segmentos de clientes</h2>
    <p>
        Los segmentos de clientes se refieren a los grupos especificos de personas o empresas a los que una empresa
        busca Ilegar y servir. Identificar y comprender a fondo los segmentos de clientes es crucial para el éxito de
        cualquier negocio, ya que permite adaptar productos, servicios y estrategias de marketing a las necesidades y
        preferencias únicas de cada grupo
    </p>
    <img src="/assets/imagen/segmentacion clientes.jpg" alt="segmentos-de-clientes">
</body>

</html>