<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlaces</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <a href="/index.html">devolverse</a>
    <h2>4 relaciones con cliente</h2>
    <p>
        Las relaciones con los clientes se refieren a la forma en que una empresa interactúa y se compromete con sus
        clientes a lo largo de su ciclo de vida. Estas interacciones pueden abarcar desde la adquisición inicial de un
        cliente hasta el soporte continuo y la fidelización a largo plazo.
    </p>
    <img src="/assets/imagen/relaciones del clientes.jpg" alt="relaciones-con-clientes">
</body>

</html>